h1{
    font-size: 50px;
    padding-top: 1rem;
    text-align: center;
}

h2{
    padding-top: 1rem;
}

label{
    padding-right: 2rem;
}

#select{
    border: solid 2px;
    border-collapse: collapse;
    padding: 1px; 
    background-color: white;
    height: 150px;
}

input::placeholder{
    font-size: x-small;
}

#select,#decide{
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#decide{
    border-style: solid;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

#add{
    background-color: rgb(19, 190, 247);
    color: white;
    border-style: ridge;
    border-color: rgb(185, 176, 176);
    cursor: pointer;
}

#delete{
    background-color: red;
    color: white;
    border-style: ridge;
    border-color: rgb(185, 176, 176);
    margin: 3px 5px 3px;
    cursor: pointer;
}

#labelElement{
    display: block;
    border-style: groove;
    position: relative;
    width: 36rem;
    margin-bottom: 1rem;
    height: 2rem;
    text-align: left;
    text-align: center;
    margin: 1rem auto;
    line-height: 2rem; /*height: 2rem;の高さの中で中央にする*/
}

#checkBox{
    position: absolute;
    left: 0;
    margin-top: 9px;
}

#delete{
    position: absolute;
    right: 0;
}
