h1{
    font-size: 50px;
    padding-top: 1rem;
    text-align: center;
}

h2{
    padding-top: 1rem;
}

label{
    padding-right: 2rem;
}

#select{
    border: solid 2px;
    border-collapse: collapse;
    padding: 1px; 
    background-color: white;
    height: 150px;
}

input::placeholder{
    font-size: x-small;
}

#decide{
    border: solid 2px;
    border-collapse: collapse;
    margin-top: 2rem;
    background-color: white;
    padding-bottom: 2rem;
}

#select,#decide{
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#add{
    background-color: rgb(19, 190, 247);
    color: white;
    border-style: ridge;
    border-color: rgb(185, 176, 176);
    cursor: pointer;
}

#delete{
    background-color: red;
    color: white;
    border-style: ridge;
    border-color: rgb(185, 176, 176);
    margin: 3px 5px 3px;
    cursor: pointer;
}

table{
    margin: auto; /*表を真ん中に置く*/
    /*border: solid 0.5px;
    border-collapse: collapse;*/
    padding-bottom: 3px;
}

th{ 
    padding: 2px 30px; /*上下 左右*/
    background-color: rgb(239, 252, 65);
    font-size: 20px;
    border: solid 2px lightgray;
    border-collapse: collapse;
    color: black;
}

#todoLabel{
    color: black;
    padding: 2px 12rem;
}

td{
    border: solid 2px lightgray;
    border-collapse: collapse;
    padding-top: 4px;
    border-width: 0.8px 0.4px 0.4px 0.8px;
}